*{
    margin: 0;
}
:root{
    --main--color :#03e9f4;
}
/* start landig page */

.landing-page{
    min-height: 100vh;
    background-image: url('../img/wp6925381.jpg');
 background-size : cover;
   position: relative;
}
.landing-page .overlay{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;

}
.header-area{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;


}
.header-area .logo{
    width: 300px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;

}
.header-area .links{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-left: 0 ;
    padding-right: 20px;
    font-size: 20px;
}

.header-area .links li{
    display: inline-block;
    margin-left: 20px;
}
.header-area .links li a{
    text-decoration: none;
    color: #fff;
    transition: .3s;

}
.header-area .links li a:hover,
.header-area .links li a.active{
    color:var(--main--color);
}
.intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;

}
.intro-text h1 {
    font-size: 60px;
    margin: 0 0 12px;

}
.intro-text h1 span{
color: var(--main--color);
}

.intro-text p{
line-height: 1.6;
font-size: 25px;
margin: 0;

}
.intro-text p span{
    color: var(--main--color);
    font-size: 30px;
}

/* end landig page */
.text{
    display: flex;
}
.text li{
    list-style: none;
}
.text li div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
    margin: o 4px;
    border-radius: 20px;
    color: #dcb24f;
    text-shadow: 0 0 15px#dcb24f, 0 0 25px #dcb24f;
    animation: animate 1.5s linear infinite;

}
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);

    }
    100%{
        filter: hue-rotate(360deg);

    }
}